@media screen and (max-width: 680px) {
/*in mobile view let map and restaurant info display in one column*/
    #maincontent {
        display: flex;
        flex-direction: column;
    }
    /* ====================== Title and map ====================== */
    nav h1 a {
        font-size: 14pt;
        letter-spacing: 8px;
    }

    /* ====================== Restaurant Filtering ====================== */
    .filter-options {
      width: 100%;
      height: auto;
      align-items: center;
      padding-top: 10px;
    }

    .filter-options h2 {
        width: 100%;
        font-size: 12pt;
    }

    /* ====================== Restaurant Details ====================== */
    .inside #map-container {
        height:60vh;
        width:100vw;
        position:relative;
    }
    #restaurant-container, #reviews-container {
        width: 100%;
    }
    #breadcrumb {
        width: 100%;
    }
    .inside #footer {
        width: 100%;
    }
}
